.avatar {
  background-color: var(--blue);
  height: 68.8%;
  border-radius: 15px;
  padding: 33px 30px;
}

.avatar-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.avatar-content img {
  width: 84px;
  border: 3px solid white;
  border-radius: 50%;
}

.text {
  margin: 40px 0 0 5px;
  font-weight: 300;
}

.text .label-for {
  font-size: 0.8333rem;
  color: var(--pale-blue);
}

.text .name {
  font-size: 2.041666666666667vw;
  margin-top: 2px;
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 768px) {
  .avatar {
    height: 67%;
    padding: 30px 30px;
  }

  .avatar img {
    width: 71px;
  }

  .avatar-content {
    flex-direction: row;
    align-items: center;
  }

  .text {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 19px;
  }

  .text .label-for {
    font-size: 15px;
  }

  .text .name {
    font-size: 24px;
  }
}
