main {
  max-width: 1440px;
  height: 98vh;
  margin: 0 auto;
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
}

.grid {
  display: grid;
  width: 1114px;
  height: 520px;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 242px;
}

.a {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
}

.aside {
  background-color: var(--dark-blue);
  height: 100%;
}

.period {
  list-style-type: none;
  padding: 25px 0 0 34px;
  color: var(--desaturated-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26%;
  width: 100%;
}

.active {
  color: hsl(0, 0%, 100%);
}

.period li:hover {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.avatar {
  background-color: var(--blue);
  height: 68.8%;
  border-radius: 15px;
  padding: 33px 30px;
}

.avatar-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.avatar-content img {
  width: 84px;
  border: 3px solid white;
  border-radius: 50%;
}

.text {
  margin: 40px 0 0 5px;
  font-weight: 300;
}

.text .label-for {
  font-size: 0.8333rem;
  color: var(--pale-blue);
}

.text .name {
  font-size: 2.041666666666667vw;
  margin-top: 2px;
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 768px) {
  main {
    max-width: 375px;
    height: auto;
    padding: 82px 22px;
  }

  .grid {
    width: 100%;
    height: 1300px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 202px 160px 160px 160px 160px 160px 160px;
    gap: 24px;
  }

  .a {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .avatar {
    height: 67%;
    padding: 30px 30px;
  }

  .avatar img {
    width: 71px;
  }

  .avatar-content {
    flex-direction: row;
    align-items: center;
  }

  .period {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 21px 0 35px;
    height: 33%;
  }

  .text {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 19px;
  }

  .text .label-for {
    font-size: 15px;
  }

  .text .name {
    font-size: 24px;
  }
}
