<main>
  <div class="grid">
    <div class="a">
      <div class="card aside">
        <app-avatar></app-avatar>
        <app-period (setActive)="setActive($event)" [selectedPeriod]="selectedPeriod"></app-period>
      </div>
    </div>
    <div *ngFor="let item of data">
      <app-activity-card [selectedPeriod]="selectedPeriod" [periodLabel]="periodLabel" [item]="item"></app-activity-card>
    </div>
  </div>
</main>
<footer>
  <p class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
      >Frontend Mentor</a
    >. Coded by
    <a href="https://www.frontendmentor.io/profile/feliceNicolasBarcellona"
      >Felice Nicolas Barcellona</a
    >.
  </p>
</footer>
