<main>
  <div class="grid">
    <div class="a">
      <div class="card aside">
        <div class="avatar">
          <div class="avatar-content">
            <img src="../assets/images/image-jeremy.png" alt="avatar-image" />
            <div class="text">
              <p class="label-for">Report for</p>
              <p class="name">Jeremy Robson</p>
            </div>
          </div>
        </div>
        <ul class="period">
          <li
            [class.active]="selectedPeriod === 'Daily'"
            (click)="setActive('Daily')"
          >
            Daily
          </li>
          <li
            [class.active]="selectedPeriod === 'Weekly'"
            (click)="setActive('Weekly')"
          >
            Weekly
          </li>
          <li
            [class.active]="selectedPeriod === 'Monthly'"
            (click)="setActive('Monthly')"
          >
            Monthly
          </li>
        </ul>
      </div>
    </div>
    <div *ngFor="let item of data">
      <app-activity-card [selectedPeriod]="selectedPeriod" [periodLabel]="periodLabel" [item]="item"></app-activity-card>
    </div>
  </div>
</main>
<footer>
  <p class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
      >Frontend Mentor</a
    >. Coded by
    <a href="https://www.frontendmentor.io/profile/feliceNicolasBarcellona"
      >Felice Nicolas Barcellona</a
    >.
  </p>
</footer>
